body {
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: #0065FC;
}

footer {
    background-color: #F2F2F2;
}


footer ul {
    list-style-type: none;
}