body {
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: #0065FC;
}

footer {
    background-color: #F2F2F2;
}


footer ul {
    list-style-type: none;
}

form {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

input {
    border: none;
}

button {
    border: none;
    background: #0065FC;
    color: white;
}

label {
    background: #F2F2F2;
}