body {
    font-family: 'Raleway', sans-serif;

    margin: 0;
}


/* Pour éviter d’étirer la page web sur la largeur de façon excessive, il va falloir 
déterminer une largeur maximum de 1 400 px.*/

#container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
}

i:not(.fa-location-dot) {
    color: #0065FC;
}

/* taille des polices */

h1,
h2 {
    font-size: 22px;
}

#introduction p {
    font-size: 16px;
}

#container-offers p {
    font-size: 14px;
}

#container-offers p::after {
    content: "€";
    font-weight: bold;
}

/* ou garder le € 

#container-offers p {
    font-size: 14px;
    position: relative;
}

#container-offers p::after {
    bottom: 0;
    font-weight: bold;
    content: '€';
    position: absolute;
    transform: translate(-100%, 0);
} */

#container-offers h3 {
    font-size: 16px;
}

#activities h3 {
    font-size: 18px;
}

footer h3 {
    font-size: 18px;
}

#container-filters p {
    font-size: 18px;
}

.rating {
    font-size: 12px;
}

/* Étape 3 : Intégrez le header du projet. Le code de l’en-tête de la page. */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0;
}

nav img {
    width: 61.09px;
    height: 19px;
}

header,
main {
    width: 1339px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 0 22px;
    font-size: 16px;
}

header li {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 500;
}

header a:hover {
    color: #0065FC;
}

header a:hover::before {
    content: '';
    background: #0065FC;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
    column-gap: 30px;
}

/* Étape 4 : Ajoutez le formulaire de recherche */

form {
    display: flex;
    align-items: center;
    margin: 35px 0;
}

input {
    border: 1px solid #F2F2F2;
    padding: 16px 55px 16px 17px;

}

input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.location-dot {
    padding: 14px 16px;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
}

button {
    font-weight: bold;
    cursor: pointer;
}

#button-search {
    border: none;
    background: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 14px 16px;
    font-size: 18px;
}

#button-search i {
    display: none;
    color: white;
}

/* Étape 5 : Ajout de la partie Filtres */

#container-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 23px;
    font-weight: bold;
    column-gap: 30px;
}

.button-filters {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 13px 18px;
    background-color: white;
    font-size: 17px;
}

.button-filters i {
    padding-right: 10px;
    font-size: 22px;
}

.button-filters:hover {
    background-color: #DEEBFF;
}

.filters-button {
    display: flex;
    column-gap: 30px;
}

/*  */

#infobar {
    display: flex;
    align-items: center;
}

#infobar div {
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infobar p {
    padding-left: 11px;
}

/*  */

#container-offers {
    display: flex;
    justify-content: space-between;
}

#container-offers h2 {
    margin-top: 0;
}

#container-main-offers,
#container-sponsored-offers {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 39px;
    margin-top: 23px;

}

i.grey-star {
    color: #F2F2F2;
}

/* Étape 6 : Réalisez la “card” présente dans “Hébergements à Marseille” */

#container-main-offers {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#main-offers-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
}

.main-offers-content {
    height: 195px;
    border-radius: 20px;
    border: 5px solid white;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.main-offers-content h3,
.main-offers-content p,
.main-offers-content div {
    margin: 4px 6px;
}

#main-offers-cards a {
    text-decoration: none;
    color: black;
    width: 30.5%;
}

#container-main-offers img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#container-main-offers>p {
    font-weight: bold;
    margin-top: 32px;
}

#read-more {
    border: none;
    font-size: 18px;
    text-align: justify;
    background: transparent;
    margin-top: 40px;
    width: 125px;
    padding: 0;
}

/* Étape 7 : Réalisez la “card” présente dans “Les plus populaires” */

#container-sponsored-offers {
    width: 25.5%;
}

#sponsored-offers-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sponsored-offers-content {
    background: white;
    height: 136px;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#sponsored-offers-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



#container-sponsored-offers a {
    text-decoration: none;
    color: black;
}

.sponsored-offers-content img {
    height: 100%;
    width: 132px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.sponsored-offers-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 10px;
}

.sponsored-offers-info h3 {
    margin: 0;
}

.sponsored-offers-info p {
    margin: 7px 0;
}

/* Étape 9 : Intégrez le conteneur “Activités à Marseille” */

#activities {
    width: 100%;
    margin-top: 60px;
}

#activity-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#activity-cards a {
    text-decoration: none;
    color: black;
    width: 22.5%;
}

.activity-content {
    height: 445px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.activity-content img {
    height: 87%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity-content h3 {
    padding-left: 20px;
    margin-top: 14px;
}

/* Étape 10 : Implémentez le footer */

footer {
    background-color: #F2F2F2;
    width: 1339px;
    display: flex;
    justify-content: space-around;
    margin: 61px auto 0 auto;
}

footer div {
    padding-top: 26px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
}

footer a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-bottom: 10px;
}

/* media queries Étape 11 : Mettez en place le responsive design */

/*Medium devices (tablets, less than 992px) donc appliquer une max-width: 991.98px
These mixins take those declared breakpoints, subtract .02px from them, and use them 
as our max-width values.Why subtract .02px? Browsers don’t currently support range context 
queries, so we work around the limitations of min- and max- prefixes and viewports with 
fractional widths (which can occur under certain conditions on high-dpi devices, for instance)
by using values with higher precision. ==> doc. s/ https://getbootstrap.com/docs/5.0/layout/breakpoints/ 
*/

@media screen and (max-width: 991.98px) {
    #container {
        max-width: 991.98px;
        margin: 0 auto;
        padding: 0;
    }

    header,
    footer {
        width: 880px;
    }

    main {
        width: 880px;
    }

    #container-offers {
        width: 100%;
        flex-direction: column;
    }

    #container-main-offers {
        width: auto;
    }

    #container-sponsored-offers {
        width: auto;
        margin-top: 40px;
    }

    #sponsored-offers-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    #sponsored-offers-cards a {
        width: 31%;
    }

    .sponsored-offers-content img {
        width: 101px;
    }

    #activities,
    footer {
        margin-top: 70px;
    }

    .activity-content {
        height: 267px;
    }

    #activities h3 {
        font-size: 16px;
    }

    .activity-content img {
        height: 79%;
    }

    .activity-content>.two-last-activities {
        margin-top: 5px;
    }
}

/* Small devices (mobile phones, less than 768px) donc appliquer une max-width: 767.98px*/

@media screen and (max-width: 767.98px) {
    #container {
        max-width: 767.98px;
        margin: 0 auto;
        padding: 0;
    }

    header,
    footer {
        width: 375px;
    }

    nav {
        flex-direction: column;
        margin: 20px 0;
    }

    nav ul {
        padding: 0;
        gap: 0;
        margin: 45px 0 0 0;
    }

    header a {
        display: inline-block;
        border-bottom: 3px solid #F2F2F2;
        height: 38px;
        width: 123px;
    }

    header a:hover {
        border-bottom: 3px solid #0065FC;
        height: 38px;
    }

    header a:hover::before {
        display: none;
    }

    #introduction {
        width: 335px;
        margin: auto 20px;
    }

    #container-filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 17px;
    }

    .filters-button {
        gap: 14px;
    }

    #container-filters p {
        margin: 0;
    }

    .button-filters {
        font-size: 11px;
        width: 160px;
        padding: 15px 18px;
    }

    .button-filters i {
        padding-right: 3px;
        font-size: 16px;
    }

    #infobar {
        align-items: baseline;
    }

    .fa-info {
        font-size: large;
    }

    #infobar p {
        width: fit-content;
    }

    main {
        width: 375px;
    }

    #search-text {
        display: none;
    }

    #button-search i {
        display: inline-block;
    }

    #container-offers {
        flex-direction: column-reverse;
    }

    #container-main-offers,
    #container-sponsored-offers {
        padding: 20px;
    }

    #container-sponsored-offers {
        border-radius: 0;
        padding: 30px 20px 45px 20px;
        margin-top: 30px;
    }

    .sponsored-offers-content {
        width: auto;
    }

    #sponsored-offers-cards {
        flex-direction: column;
        gap: 11px;
    }

    .sponsored-offers-content img {
        width: 128px;
    }

    #container-main-offers {
        background: none;
        margin-top: 10px;
    }

    #main-offers-cards {
        flex-direction: column;
        row-gap: 12px;
    }

    #main-offers-cards a {
        width: 100%;
    }

    #sponsored-offers-cards a {
        width: 100%;
    }

    #read-more {
        display: none;
    }

    #activity-cards a {
        width: 100%;
    }

    #activity-cards {
        gap: 24px;
    }

    #activities {
        width: 335px;
        margin: 80px auto;
    }

    .activity-content {
        height: 190px;
    }

    .activity-content img {
        height: 71%;
    }

    .activity-content>.two-last-activities {
        margin-top: 14px;
    }

    footer {
        flex-direction: column;
    }

    footer div {
        padding-top: 0;
        padding-left: 30px;
    }

    footer div:first-child {
        padding-top: 30px;
    }

    footer div:last-child {
        padding-bottom: 30px;
    }
}